.pers-form-settings-modal {
    margin-top: 5px !important;
    max-width: 1250px !important;
    .modal-content {
        border-radius: 10px !important;
    }
}
.pers-form-preview-modal {
    margin-top: 15px !important;
    max-width: 950px !important;
    .modal-content {
        border-radius: 10px !important;
    }
}

