<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label>Service</label>
            <select class="form-control form-control-sm" [(ngModel)]="selectedServiceId" (change)="onChangeService($event)">
                <option value="-1">-- Please Select --</option>
                <option *ngFor="let data of services; index as i;" [value]="data.id">{{data.description}}</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6 pl-0">
        <div class="form-group">
            <label>Endpoint</label>
            <select class="form-control form-control-sm" [(ngModel)]="selectedEndpointId" (change)="onChangeEndpoint($event)">
                <option value="-1">-- Please Select --</option>
                <option *ngFor="let data of endpoints; index as i;" [value]="data.id">{{data.summary}}</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" *ngFor="let data of parameters; index as i;">
        <div class="row">
            <div class="col-sm-3">
                {{getParamName(data) | titlecase}}
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="text" class="form-control" [(ngModel)]="data.value" />
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" *ngIf="isEndpointSelected">
    <div class="col-sm-2">
        <button type="button" class="btn btn-sm btn-success" (click)="onClick_GetValue($event)">Get</button>
    </div>
    <div class="col-sm-4">
        <!-- <div class="form-group">
            <label for="txtValue">Value:</label>
        </div> -->
        <!-- <h4 style="font-weight: normal;" *ngIf="hasValue && isSingleValueBased">{{getSingleValueDescription()}}</h4>
        <h4 style="font-weight: normal;" *ngIf="hasValue && !isSingleValueBased">{{getLabelName()}}</h4> -->
        <h6 style="font-weight: normal;" *ngIf="hasValue">{{getLabelName() | titlecase}}</h6>
    </div>
    <div class="col-sm-6" *ngIf="hasValue">
        <div class="form-group" *ngIf="isSingleValueBased">
            <!-- <input type="text" id="txtValue" class="form-control" [(ngModel)]="inputValue" readonly /> -->
            <input type="text" id="txtValue" class="form-control" [(ngModel)]="inputValue" readonly />
        </div>
        <div class="form-group" *ngIf="!isSingleValueBased">
            <select class="form-control form-control-sm" [(ngModel)]="inputValue">
                <option value="null">-- Please Select --</option>
                <option *ngFor="let data of values; index as i;" [value]="getValueKey(data)">{{getValueDescription(data)}}</option>
            </select>
        </div>
    </div>
</div>