<div class="row">
  <div class="col-md-12">
    <app-common [widget]="widget"></app-common>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <label class="mat-b0">Min Value</label>
    <input
      class="form-control"
      type="number"
      [(ngModel)]="currentWidget.minValue"
      (keydown)="validateKey($event)">
  </div>
  <div class="col-md-6">
    <label class="mat-b0">Max Value</label>
    <input
      class="form-control"
      type="number"
      [min]="minValue + 1"
      [(ngModel)]="currentWidget.maxValue"
      (keydown)="validateKey($event)">
    <div *ngIf="(maxValue<=minValue && minValue)" class="pers-error-msg">
      Please Enter a Higher value than {{ minValue }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-resource-bindings 
    (onSelected)="onBindingSelected($event)">
    </app-resource-bindings>
  </div>
</div>