::ng-deep demo-root {
position: absolute;
height: 100%;
width: 100%;
overflow: hidden;
display: flex;
flex-direction: column;
}

h1 {
position: relative;
flex: 0;
font-size: 22px;
padding: 0 20px;
height: 50px;
margin: 0;
}

::ng-deep .omnibar {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
position: relative;
flex: 0 1 auto;
width: 100%;
/*overflow: hidden;*/
}

::ng-deep .toolbar {
position: relative;
padding-left: 10px;
}

::ng-deep .widgetbar {
position: relative;
padding: 10px 0;
width: 275px;
}

::ng-deep  .main-content {
width: 100%;
flex: 1 0px;
display: flex;
flex-direction: column;
overflow-y: scroll;
max-height: 460px;
}

::ng-deep #form-grid .dashboard {
flex: 1;
}

::ng-deep #form-grid  .panel-heading {
display: flex !important;
border-bottom: 1px solid #F0F0F0;
display: inline-block;
position: relative;
width: 100%;
top: 0;
}

::ng-deep #form-grid .panel-heading:hover {
cursor: move;
}

/* ::ng-deep  .panel-heading:active {
cursor: grabbing;
} */

::ng-deep #form-grid .panel-heading .panel-title {
padding: 10px;
margin: 0;
}

::ng-deep #form-grid .panel-body {
overflow: hidden;
padding: 0 10px 10px;
position: absolute;
top: 37px;
bottom: 0;
left: 0;
right: 0;
}

::ng-deep #form-grid .gridster-item-prototype {
display: block;
background-color: #afafaf;
position: relative;
float: left;
z-index: 99;
text-align: center;
font-weight: bold;
margin: 5px;
width: 80px;
height: 60px;
}

::ng-deep #form-grid .gridster-item-prototype.is-over .gridster-item-inner {
visibility: visible;
}

::ng-deep #form-grid .gridster-item-prototype .gridster-item-inner {
position: absolute;
top:0;
left: 0;
overflow: auto;
width: 80px;
height: 60px;
visibility: hidden;

-webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
-moz-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
-o-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

::ng-deep #form-grid .position-highlight .inner {
position: absolute;
top: 5px;
bottom: 5px;
left: 5px;
right: 5px;

background-color: #768294;
border: 1px solid transparent;
-webkit-transition: background 3s;
transition: background 3s;
border-radius: 3px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

::ng-deep #form-grid .gridster-item-inner {
position: absolute;
background: #fff;
border: 1px solid #768294;
top: 5px;
bottom: 5px;
left: 5px;
right: 5px;
-webkit-transition: background 3s;
transition: background 3s;
border-radius: 3px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

::ng-deep #form-grid .is-dragging .gridster-item-inner {
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.48);
top: -3px;
bottom: 13px;
}

.field-header  {
font-weight: 200;
margin-top: 0px;
margin-bottom: 0px;
position: relative;
top: -10px;
}

.removal-icon {
font-size: 20px !important;
position: relative;
top: 9px;
right: 5px;
}

/* .field-row:hover .removal-icon {
color: #ff0000;
} */

h5 {
font-size: 0.83em !important;
}

.field-remove:hover {
cursor: pointer;
}

@keyframes shadow-pulse {
0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2) inset;
}
100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0) inset;
}
}

.pulse {
animation: shadow-pulse 1s linear  infinite;
}

.main-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.main-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #768294;
}

::ng-deep.panel-body:hover {
cursor: pointer;
}


pre{
    font-weight: 600;
    font-family: inherit;
}