<csi-security-appmenu
  [brand]="brand"
  [theme]="'white-light'"
  [profileToggleOption]="profileToggleOption">
  <csi-navbar-list-container>
    <csi-navbar-list>
      <span class="badge badge-primary">Admin UI</span>
    </csi-navbar-list>
  </csi-navbar-list-container>
</csi-security-appmenu>
<!-- <csi-navbar 
[brand]="brand"
[theme]="'white-light'"
[profileToggleOption]="profileToggleOption">
</csi-navbar>
<csi-navbar-list-container>
  <csi-navbar-list>
    <span class="badge badge-primary">ADMIN UI</span>
  </csi-navbar-list>
</csi-navbar-list-container>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <mat-list>
      <mat-list-item routerLink="/dashboard">Dashboard</mat-list-item>
      <mat-list-item class="menu-item">
        <pre class="menu-item-heading">Master Data</pre>
      </mat-list-item>
      <mat-list-item routerLink="/mâster-data/modules">Module List </mat-list-item>
      <mat-list-item routerLink="/master-data/fields">Field List </mat-list-item>
      <mat-list-item routerLink="/master-datâ/grids">Grid List</mat-list-item>
      <mat-list-item routerLink="/master-datà/forms">Form List</mat-list-item>
      <mat-list-item routerLink="/master-dâta/screens">Screen List</mat-list-item>
      <mat-list-item class="menu-item">
        <pre class="menu-item-heading">Operations</pre>
      </mat-list-item>
      <mat-list-item routerLink="/customize/fields">Field Customization </mat-list-item>
      <mat-list-item routerLink="/customizé/grids">Grid Customization</mat-list-item>
      <mat-list-item routerLink="/customizè/forms">Form Customization</mat-list-item>
      <mat-list-item routerLink="/cûstomize/screens">Screen Customization</mat-list-item>
      <mat-list-item class="menu-item">
        <pre class="menu-item-heading">Rules</pre>
      </mat-list-item>
      <mat-list-item routerLink="/rule-engine/expression-builder">Old Expression Builder</mat-list-item>
      <mat-list-item class="menu-item">
        <pre class="menu-item-heading">Testing</pre>
      </mat-list-item>
      <mat-list-item routerLink="/test/screens">Screen Tester</mat-list-item>
      <mat-list-item routerLink="/test/forms">Form Tester</mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="btn-group-fab" role="group" aria-label="FAB Menu">
    <div>
      <button type="button" (click)="drawer.toggle()" class="btn btn-main btn-primary has-tooltip" data-placement="left" title="Menu"> 
          <i class="fa fa-bars"></i> 
      </button>
    </div>
  </div>
  <header class="header">
    <div class="sidebar_toggle"><a (click)="drawer.toggle()" role="button"><i class="material-icons">menu</i></a></div>
  </header> -->
  <!-- <div class="main-wrapper"> -->
    <!-- <aside class="side-panel">
      <div class="side-panel-header">
        <div class="side-panel-intro">
          <div class="component-title">Vital Signs</div>
          <div class="component-type">Component</div>
        </div>
        <button class="btn btn-x"><i class="material-icons">close</i></button>
      </div>
    </aside> -->
    <!-- <router-outlet></router-outlet> -->

  <!-- </div> -->
  <!-- <div class="example-sidenav-content">
    <div class="row" style="width: -webkit-fill-available; margin-left: 0px; margin-right: 0px;">
      <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">

      </div>
      <div class="col-md-12">
      </div>
    </div>
  </div> -->
<!-- </mat-drawer-container> -->