<div class="row">
  <div class="col-md-12">
      <div class="row mb20">
        <div class="col-2">
          <div class="form-group">
            <label>Module</label>
            <select
              class="form-control form-control-sm mr15"
              (change)="onChange_Module($event)"
              [(ngModel)]="selectedModuleId">
              <option value="-1">-- Please Select --</option>
              <option *ngFor="let data of modules; index as i;" [value]="data[0]">
                {{ data[1] }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            <label>Screen</label>
            <select
              [disabled]="fromFormBuilder"
              class="form-control form-control-sm mr15"
              (change)="onChange_Screen($event)"
              [(ngModel)]="selectedScreenId">
              <option value="-1">-- Please Select --</option>
              <option *ngFor="let data of screens; index as i;" [value]="data[0]">
                {{ data[1] }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-2">
          <div class="form-group">
            <button 
              type="button" 
              class="btn btn-level-2 btn-sm btn-success pro-add-btn"
              (click)="onClick_Update($event)">
              Update
            </button>
          </div>
        </div>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-2">
    <app-expb-field-selector 
      [components]="selectedScreenComponents" 
      (select)="onSelect_Field($event)">
    </app-expb-field-selector>
  </div>
  <div class="col-10">
    <app-field-rule-info 
      *ngIf="selectedFieldComponent != null" 
      [fieldComponent]="selectedFieldComponent">
    </app-field-rule-info>
  </div>
</div>
