<div>
    <h6>Alert</h6>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>Params</label>
                <input type="text" class="form-control" [(ngModel)]="params" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label>Content</label>
                <input type="text" class="form-control" [(ngModel)]="content" />
            </div>
        </div>
    </div>
</div>